<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="./css/style.css">
    <title> About </title>
    <link rel="icon" href="/pictures/weather.png">
</head>
<body>
  <div class="main-content">
        {{>header}}
        <p>This website is created by Vikas Chaudhary .<br> It uses data from OpenWeatherMap.org </p>
        <br>
        <a href="https://github.com/vikaschaudhary12"> GitHub</a>
        <a href="https://www.linkedin.com/in/vikas-chaudhary-53b488201/"> LinkedIn</a>
    </div>
      {{>footer}}
</body> 
</html>